MathJax.Hub.Config({
    extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js", "TeX/noErrors.js", "TeX/noUndefined.js"],

    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
    },

    TeX: {
        Macros: {
            // d (roman "d" for diferrentiation)
            diff: '{\\mathrm{d}}',

            // dy/dx (derivative with roman "d")
            dd: ['{\\frac{\\diff #1}{\\diff #2}}', 2],

            // dx/dt (time derivative with roman "d")
            ddt: ['{\\frac{\\diff #1}{\\diff t}}', 1]
        }
    }
    });
